.ForgotPassword {
    .title-form-forgot {
        color: #0CBDDF;
    }

    .submit-btn {
        border: none;
        background-color: #57c940;
        color: #fff;
        font-weight: 650;
        font-size: 16px;

        &:hover {
            background-color: #5fce49;
            color: #fff;
        }
    }

    .back-forget {
        span {
            cursor: pointer;
            color: #1ca8ce;
            font-size: 15px;
            font-weight: 500;

            &:hover {
                color: #168cac;
            }
        }
    }
}