.nav-header {
    background-color: #1d2023ec;
    height: 50px;

    .option {
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0px 15px 0px 15px;
        font-weight: 400;
        &:hover {
            color: #61DAFB;
        }
    }

    .logoJWT {
        color: #61DAFB;
        font-weight: 600;
    }

    .active {
        color: #61DAFB;
    }

}
