<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <div>
        <div style="width: 100%; text-align: center;">
            <img src="https://i.imgur.com/rXRcg9t.png" alt="logo" width="170px" height="170px" />
        </div>
        <hr />
        <div style="color: black; font-size: 19px;">
            <p>
                Hello, We're received a request to reset the password for <b>W-HRM System</b> account associated
                with <b>{{email}}</b>
            </p>
            <p>
                No changes have been made to your account yet.
            </p>
            <p>
                You can reset you password by using the following OTP: <b>{{otp}}</b>
            </p>
            <p>
                if you did not request a new password, please let us know immediatedly by replying to this email.
            </p>
            <p>
                --- lamvinhkien ---
            </p>
        </div>
    </div>

</body>

</html>